.background {
    -fx-background-color: #323232
}

.backgroundSat {
    -fx-background-color: #181818
}

.button {
    -fx-border-radius: 60px;
    -fx-background-color: #323232
}

.backgroundList {
    -fx-background-color: #323232
}