/*FOND D ERCAN GRIS DANS LA VUE GLOBALE ET DETAIL*/
.background {
    -fx-background-color: #323232;
}

/*ZONE APPLIQUER A L APPARENCE DES BOUTONS*/
.button {
    -fx-background-radius: 20px;
    -fx-background-color: #323232;
    -fx-text-color: white;
}

.context-menu {
    -fx-background-radius: 20px;
    -fx-text-color: white;
    -fx-padding: 0;
}

.context-menu {
    -fx-background-radius: 20px;
    -fx-text-color: white;
    -fx-padding: 0;
}

.menuItem:not(:hover),
.menuItem:not(:selected) {
    -fx-background-radius: 20px;
    -fx-background-color: #323232;
    -fx-text-color: white;
}

.menuItem:hover,
.menuItem:selected {
    -fx-background-radius: 20px;
    -fx-background-color: #3d9dca;
    -fx-text-color: black;
}
/*ZONE APPLIQUER POUR LES ZONES DE TEXTE ET LES BOUTONS MENU*/
.textArea{
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-padding: 5px;
}

/*ZONE OU SE TROUVE UNE LISTE D ELEMENTS*/
.listView {
    -fx-control-inner-background: transparent;
    -fx-border-color: #3d9dca;
    -fx-border-width: 7px;
    -fx-background-image: url("/image/background1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.infoBack {
    -fx-background : transparent;
}

/* ZONE DE CSS POUR LES ELEMENTS DE LA VUE GLOBALE DANS LA LISTE (LES CELLULES)*/
.vueSatellite {
    -fx-background-radius : 30px;
    -fx-background-color: #181818;
    -fx-transition: scale 0.2s;
    -fx-cursor: pointer;
}

.vueSatellite #nom {
    -fx-background-color: transparent;
}

.vueSatellite:hover,
 .vueSatellite:selected{
    -fx-background-radius : 60px;
    -fx-background-color: #3d9dca;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-translate-x: 3.5px;
}

.vueSatellite:not(:hover) {
    -fx-background-radius : 30px;
    -fx-background-color: #181818;
}
