/*FOND D ERCAN GRIS DANS LA VUE GLOBALE ET DETAIL*/
.background {
    -fx-background-color: #323232;
}

/*ZONE APPLIQUER A L APPARENCE DES BOUTONS*/
.button {
    -fx-background-radius: 20px;
    -fx-background-color: #323232;
    -fx-text-color: white;
}

.button:hover {
    -fx-background-radius: 20px;
    -fx-background-color: #323232;
    -fx-text-color: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-underline: true;
    -fx-underline-stroke: blue;
}

.button:not(:hover) {
    -fx-background-radius: 20px;
    -fx-background-color: #323232;
    -fx-text-color: white;
    -fx-underline: false;
}

.table-row-cell {
    /* Couleur de fond de la ligne */
    -fx-background-color: #3d9dca;
}

.context-menu {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 0;
    -fx-font-size: 25px;
}

.arrow-button {
    -fx-opacity: 0;
}

.menuItem:not(:hover),
.menuItem:not(:selected) {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: #323232
    -fx-font-size: 25x;
}

.menuItem:hover,
.menuItem:selected {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: #3d9dca;
    -fx-font-size: 25px;
}
/*ZONE APPLIQUER POUR LES ZONES DE TEXTE ET LES BOUTONS MENU*/
.textArea{
    -fx-background-radius: 20px;
    -fx-background-color: #323232;
    -fx-border-radius: 20px;
    -fx-padding: 5px;
    -fx-text-fill: white;
}

.textArea .content {
    -fx-background-color: #323232;
}

.textArea .text {
    -fx-underline: true;
}


/*ZONE OU SE TROUVE UNE LISTE D ELEMENTS*/
.listView {
    -fx-border-color: #3d9dca;
    -fx-border-width: 7px;
    /*-fx-background-image: url("/image/background1.jpeg");*/
    -fx-background-color: #444f58;
    background-size: cover;
    background-repeat: no-repeat;
}

.infoBack {
    -fx-background : transparent;
}

/* ZONE DE CSS POUR LES ELEMENTS DE LA VUE GLOBALE DANS LA LISTE (LES CELLULES)*/
.vueSatellite {
    -fx-background-radius : 30px;
    -fx-background-color: #181818;
    -fx-transition: scale 0.2s;
    -fx-cursor: pointer;
}

.nomSatellite {
    -fx-background-color: transparent;
}

.vueSatellite:hover,
 .vueSatellite:selected{
    -fx-background-radius : 30px;
    -fx-background-color: #3d9dca;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-translate-x: 3.8px;
}

.list-cell {
    /* Styles personnalisés pour les cellules de la liste */
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

.vueSatellite:not(:hover),
 .vueSatellite:not(:selected){
    -fx-background-radius : 30px;
    -fx-background-color: #181818;
    -fx-transition: scale 0.2s;
    -fx-cursor: pointer;
}
